.searchBarContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
    margin-top: 40px;
}

.searchBarIconsContainer{
    display: flex;
    justify-content: space-between;
    width: 23%;
    font-size: 1.3rem;
     
}

.searchBarLogoContainer{
    width: 23%
}

.searchBarLogoContainer img{
    width: 140px;
    margin-top: -60px
}

.searchBarInputContainer {
    width: 40%;
    position: relative;
}

.searchBarInputContainer:before {
    color: #666;
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 33%;
} 
.searchBarInput{
    width: 100%;
    border-radius: 3px;
    font-size: 1rem;
    border: 1px solid lightgray;
    text-align: center;

}